h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif !important;
	color: #292116;
}
.right{
	float: right;
}
body{
	background-color: #FFF9EE;
}
nav{
	color: #FFF9EE;
	background: #FEC107;
	font-family: 'Roboto', sans-serif;
	height: 70px;
}
nav h3{
	font-family: 'Lobster Two', serif !important;
	font-weight: 800;
	margin: 0;
}
nav a{
	color: #292116;
	font-weight: 800;
}
nav a:hover{
	    color: #FEC107;
    font-weight: 800;
    display: block;
    background-color: #FFF9EE;
}
nav .menuTog{
	top: 0;
    right: 0;
    background: #FFF9EE;
    padding: 10px 22px;
    position: absolute;
    color: #FEC107;
    font-size: 35px;
    height: 75px;
    width: 75px;
}
.container{
	height: 100%;
	display: block;
}
.cta1{
	background-image: url(../img/headshot3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 175px 0;
}
.cta2{
	background-color: #FEC107;
	padding: 130px 0;
}
.links{
	display: none;
	background-color: rgba(254,193,7,.88);
	position: fixed;
    width: 100%;
	height: 100%;
	top: 73px;
	color: #fff;
}
.links li {
	padding-right: 15px;
	text-align: center;
	font-size: 45px;
}
ul{
	list-style: none;
	margin: 0;
}
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.fullWidth:before, .fullWidth:after {
	content: " ";
	display: table;
}
.fullWidth:after {
	clear: both;
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 6px;
  background: #FEC107;
  box-shadow: 0 0.35em 0 0 #FEC107, 0 0.70em 0 0 #FEC107;
}
.box-shadow-menu-x:before {
  content: "\274c";
  position: absolute;
  left: 0;
  top: 5px;
  width: 1em;
  height: 6px;
  background: transparent;
  box-shadow: none;
}
.footer{
	background-color: #292116;
	padding: 15px;
}
.button{
	color: #292116;
    font-weight: 800;
    border: 5px solid #292116;
    padding: 20px 75px;
	font-size: 2.5em;
	background-color: transparent;
}
.socialmedia li a span:before{
	color: #FEC107;
	font-size: 25px;
}
.socialmedia li {
	display: inline-block;
	padding-right: 15px;
}
.socialmedia li a{
	display: block;
}
.logo{
	width: 55px;
	padding: 5px 0;
}