* {
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif !important;
	color: #292116;
}
.right{
	float: right;
}
body{
	background-color: #FFF9EE;
  height: 100%;
}
nav{
	color: #FFF9EE;
	background: #FEC107;
	font-family: 'Roboto', sans-serif;
	height: 70px;
}
nav h3{
	font-family: 'Lobster Two', serif !important;
	font-weight: 800;
	margin: 0;
}
nav a{
	color: #292116;
	font-weight: 800;
}
nav .links a:hover{
	    color: #FEC107;

    font-weight: 800;
    display: block;
    background-color: #FFF9EE;
}
nav #menu{
	top: 0;
    right: 0;
    background: #FFF9EE;
    padding: 10px 22px;
    position: absolute;
    color: #FEC107;
    font-size: 35px;
    height: 75px;
    width: 75px;
}
#content {
  min-height: 90%;
  margin-bottom: -59px;
}
#content:after {
  content: '';
  display: block;
  height: 59px;
}
.container{
	height: 100%;
	display: block;
}
.cta1{
	background-image: url(../img/headshot3.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	padding: 175px 0;
}
.cta2{
	background-color: #FEC107;
	padding: 130px 0;
}
.links{
	display: none;
	background-color: rgba(254,193,7,.88);
	position: relative;
    width: 100%;
	height: 100%;
	    z-index: 9999;
	top: 15px;
	color: #fff;
}
.links li {
	padding-right: 15px;
	text-align: center;
	font-size: 45px;
}
ul{
	list-style: none;
	margin: 0;
}
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.fullWidth:before, .fullWidth:after {
	content: " ";
	display: table;
}
.fullWidth:after {
	clear: both;
}
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: #FEC107;
  width: 1em;
  height: 6px;
}
.footer{
	background-color: #292116;
	padding: 15px;
  height: 59px;
}
.button{
	color: #292116;
    font-weight: 800;
    border: 5px solid #292116;
    padding: 20px 75px;
	font-size: 2.5em;
	background-color: transparent;
}
.button:focus, .button:hover{
	border: 5px solid #FFF9EE;
	color: #FEC107;
	background-color: #FFF9EE;
}
button:focus{
	outline: none !important;
}
.socialmedia li a span:before{
	color: #FEC107;
	font-size: 25px;
}
.socialmedia li {
	display: inline-block;
	padding-right: 15px;
}
.socialmedia li a{
	display: block;
}
.logo{
	width: 75px;
	padding: 5px 0;
}
.thumbnail{
	border: none;
	margin: 0;
}
.portitems{
	margin-top: 40px;
}
/*CSS Media Queries*/

@media only screen and (max-width: 643px) {
	.button{
		padding: 20px 30px;
		font-size: 25px;
	}
}


/*google like image dropdown*/
body {
  margin: 0;
  overflow-y: scroll;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.image-grid {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 5px 0;
}

.image__cell {
  float: left;
  position: relative;
}

.image--basic {
  padding: 0 2px;
}

.basic__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.image__cell.is-collapsed .image--basic {
  cursor: pointer;
}

.image__cell.is-expanded .image--expand {
  max-height: 500px;
  margin-bottom: 10px;
}

.image--expand {
  position: relative;
  left: -5px;
  padding: 0 5px;
  box-sizing: content-box;
  overflow: hidden;
  background: #FFE8A8;
  max-height: 0;
  transition: max-height .3s ease-in-out,margin-bottom .1s .2s;
}

.image__cell.is-collapsed .arrow--up {
  height: 10px;
  width: 100%;
}

.image__cell.is-expanded .arrow--up {
  border-bottom: 8px solid #FFE8A8;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 0;
  margin: 2px auto 0;
}

.expand__close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #454545;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
}

.expand__close:before {
  content: '\2715';
}

.expand__close:hover {
  color: #fff;
}

.image--large {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 530px) {

  .image__cell {
      width: 50%;
  }

  .image__cell:nth-of-type(2n+2) .image--expand {
      margin-left: -100%;
  }

  .image__cell:nth-of-type(2n+3) {
      clear:left;
  }

  .image--expand {
      width: 200%;
  }

}

@media only screen and (min-width: 531px) {
  .image__cell {
      width: 20%;
  }
  
  .image__cell:nth-of-type(5n+2) .image--expand {
    margin-left: -100%;
  }

  .image__cell:nth-of-type(5n+3) .image--expand {
    margin-left: -200%;
  }

  .image__cell:nth-of-type(5n+4) .image--expand {
    margin-left: -300%;
  }
  
  .image__cell:nth-of-type(5n+5) .image--expand {
    margin-left: -400%;
  }

  .image__cell:nth-of-type(5n+6) {
    clear: left;
  }
  
  .image--expand {
    width: 500%;
  }
  
}