<div class="container">
    <div class="cta1">
        <div class="row">
            <div class="columns medium-4">
                <h3><span style="font-weight: 800; ">Hello.</span> I am  Denise Burgess and my mission in life is to build stuff and make them look pretty.</h3>
            </div>
        </div>
    </div>
    <div class="cta2">
        <div class="row">
            <div class="columns medium-4">
                <a class="button" ui-sref="portfolio"><span>portfolio<span style="margin-left: 15px;">&#8594;</span></span></a>
            </div>
        </div>
    </div>
</div>