<div class="container">
	<div class="row">
		<div class="columns small-12">
	<!--<h1 style="font-family: 'Playfair Display SC', serif !important; font-style: italic;">My Work</h1>-->
		</div>
	</div>
	<div class="row collapse small-up-1 medium-up-2 large-up-4 portitems ">
		<section class="image-grid ">
			<div class="image__cell is-collapsed columns">
				<div class="image--basic">
					<a href="#expand-jump-1">
						<img id="expand-jump-1" class="basic__img" src="img/port/img0.png" alt="Fashion 1" />
					</a>
					<div class="arrow--up"></div>
				</div>
				<div class="image--expand">
					<a href="#close-jump-1" class="expand__close"></a>
					<img class="image--large" src="img/port/img0.png" alt="Fashion 1" />
				</div>
			</div>
		</section>
	</div>
</div>
