<div class="row resume">
    <div class="small-12 columns">
        <p>deniseburgess.com | 125 W 138th St, New York, NY, 10030 | 561.601.0590 | denise@deniseburgess.com</p>
    </div>
    <div class="small-5 columns">
        <div class="row">
            <div class="small-12 columns">
                <h4>~/Profile</h4>
                <p>
                    I am a Jamaican-born, Florida-grown web developer who prefers front end technologies, sewing my clothing
                    from scratch and writing creative non-fiction. I am a great team-player but not afraid to share my opinion
                    when needed and eager to learn. I know I have a lot to learn and that keeps me both humble and driven.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <h4>./Skills</h4>
                <ul>
                    <li>CSS</li>
                    <li>Content management </li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>Model View Controller </li>
                    <li>MySQL</li>
                    <li>PHP</li>
                    <li>SQL</li>
                    <li>AngularJS</li>
                    <li>Apache Webserver</li>
                    <li>PostgreSQL</li>
                    <li>Ruby</li>
                    <li>React.js</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="columns small-7">
        <div class="row">
            <div class="small-12 columns">
                <h4>./Experience</h4>
            </div>
            <div class="columns small-6"><h6>Full-stack Web Developer</h6></div>
            <div class="columns small-6">03/2015 - present</div>
            <div class="columns small-12"><h6>Reflexions, New York City, United States</h6></div>
            <div class="columns small-12">
                Most of this time has been spent on location with our biggest client, The Shade Store, a supplier
                of high end window treatments with brick and mortar stores and a robust online presence. Their site
                is built on our custom Reflexions MVC framework.
                <ul>
                    <li>Implement new features using Bootstrap Sass, JavaScript, Smarty and Handlebars, MySQL, PHP</li>
                    <li>Extend and/or fix bugs in existing code</li>
                    <li>Develop online marketing and promotional strategies</li>
                    <li>Contribute to the development cycle including design, testing, and implementation</li>
                    <li>Add features to the custom framework</li>
                    <li> Work with technical, design, and business staff to create components and pages</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="columns small-6"><h6>Freelance</h6></div>
            <div class="columns small-6">07/2015 – 07/2015</div>
            <div class="columns small-12"><h6>Daroth Capital, New York</h6></div>
            <div class="columns small-12">
                Transferred a self-hosted Dreamweaver corporate site from local server to cloud-based server
            </div>
        </div>
        <div class="row">
            <div class="columns small-6"><h6>Patois Ipsum</h6></div>
            <div class="columns small-12">
                <p><a href="http://deniseb89.github.io/patois-ipsum/" target="_blank">Link</a> </p>
                <p>
                    This app was inspired by the many dummy text generators displayed on meettheipsums.com. I
                    figured I would build my own using my native language. I really like the way it turned out and
                    I plan to keep building it out and improving it.
                </p>
            </div>
        </div>

            English Translator
            deniseb89.github.io/english-translator

            As a transplant from one English-speaking country to another, I noticed several nuances in the implementation of English that would render me misunderstood at times. My hope with this app is that it would help people who have relocated oR are traveling to be better understood in English-speaking countries around the world.

    </div>
</div>